 .NavBar-container {
    padding: var(--s) var(--m);
    background-color: rgb(112,218,192);
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 20px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  } 



/* .NavBar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.NavBar-div
{
background-color: rgb(112,218,192);
height:40px;
}
.NavBar-li {
margin-top:5px;
margin-left:5px;
margin-right:5px;
  float: right;
  font-family: 'Roboto', sans-serif;
}
  
.NavBar-webTitle{
  font-weight:900; 
  margin-left:10px;
  float:left; 
  color:white; 
  font-family: 'Roboto', sans-serif;
} */